html{
  background-color: #fff;
  scroll-behavior: smooth;
}

body{
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 400;
  margin: 2% 10%;
  font-size: 20px;
  color: #333;
}

h1{
  font-size: 48px;
  margin: 5% auto 5% auto;
}

h2{
  font-size: 32px;
  font-family: Georgia,'Times New Roman', Times, serif;
  letter-spacing: 0.5px;
  margin-bottom: 5%;
}

h3{
  font-weight: bold;
  font-size: 24px;
  margin: 1% 0px;
}

h4{
  color: #333;
  opacity: 75%;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 0px;
}

p{
  font-size: 18px;
  margin: 10px 0px;
  line-height: 1.2em;
}

.accent{
  color: #EE7548;
}

/* links */
a{
  text-decoration: none;
  color: #EE7548;
  transition: 0.3s;
}

a.current{
  color: #EE7548;
}

a:hover{
  color: #EE7548;
  transition: 0.3s;
}

/* nav bar  */

.my li{
  color: #333;
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

.my li.accent{
  color: #EE7548;
}

a.my{
  transition: 0.3s;
}

a.my:hover{
  text-decoration: none;
  transition: 0.3s;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: bold;
}

nav a{
  color: #333;
}

nav div{
  display: inline;
}

nav ul{
  padding-left: 0px;
  margin-left: 3%;
}

nav li{
  display: inline;
  font-size: 20px;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: bold;
}

/* footer */

footer{
  text-align: center;
  margin-top: 10%;
  font-size: 16px;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: bold;
}

footer p{
  font-size: 16px;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: bold;
}

/* index page */
.body{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 5% auto;
}

.body h1{
  display: inline;
}

#section00 h2{
  display: inline;
}

#section01{
  margin-top: 10%;
}

#section01 h2{
  display: inline;
}

#section02{
  margin-top: 10%;
}

#section02 h2{
  display: inline;
}

#section03{
  margin-top: 15%;
}

#section03 h2{
  display: inline;
}

#section04 h2{
  display: inline;
}

div.project{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4%;
  /* width: 95%; */
}

img.round_cover{
  width: 12.5%;
  margin-right: 5%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.project-hover{
  text-decoration: none !important;
  color: #333;
  transition: 0.3s;
}

.project-hover:hover p{
  color: #333;
  transition: 0.3s;
}

.project-hover img{
  opacity: 80%;
  transition: 0.3s;
}

.project-hover:hover img{
  opacity: 100%;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(238, 117, 72, 0.5);
}

/* images in project pages */

.pics{
  display: block;
  text-align: center;
  width: 100%;
  margin: 5% auto 0% auto;
}

.caption{
  text-align: center;
  font-size: 12px;
}

.guacpics{
  display: block;
  text-align: center;
  width: 100%;
  margin: 5% auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.birthdaypics{
  display: block;
  text-align: center;
  width: 100%;
  margin: 5% auto;
}


/* portfolio pages */
.pages{
  width: 70%;
  margin: auto auto;
}

div.project-overview{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5% auto 15% auto;
  align-items: flex-end;
}

.project-overview-pics{
  width: 70%;
}

table{
  margin-bottom: 10%;
  width: 100%;
}

th{
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  padding: 1.5%;
  font-size: 18px;
}

th.overview-title{
  font-weight: bold;
  width: 20%;
}

.project-overview h1{
  display: inline;
}

.pages h2{
  display: inline;
}

.pages p{
  margin: 4% 0%;
  line-height: 1.5em;
}

div.more-projects{
  text-align: center;
  margin-top: 5%;
}

.prototype-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.prototype-video{
  width: 100%;
}

.cake-video{
  width: 70%;
  display: block;
  margin: auto auto;
}

.prototype-video-transit{
  width: 75%;
  margin-bottom: 15%;
}

.prototype-description{
  width: 100%;
  margin-bottom: 10%;
}

/* accent colors */
.accent-pear{
  color: #ABDD5B;
}

a.accent-pear{
  color: #176027;
}

.accent-transit{
  color: #7BB3D3;
}

/* bio page */
#bio{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}

#bio img{
  width: 80%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

#bio p{
  margin: 5% 0%;
  line-height: 1.2em;
}

/* photo pages */
.photos{
  width: 35%;
  display: block;
  margin: 2% auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

h2.photos-title{
  text-align: center;
}

/* horizontal scroll for photos page*/

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
}

.horizontal-photo {
  flex: 0 0 auto;
  width: 40%;
  margin-right: 2%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  overflow: hidden;
}

.horizontal-photo-wide {
  flex: 0 0 auto;
  width: 75%;
  height: 50%;
  margin-right: 2%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  overflow: hidden;
}

/* back to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10%; /* Place the button at the bottom of the page */
  right: 10%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #979797; /* Text color */
  opacity: 50%;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px 0px; /* Some padding */
  border-radius: 500px; /* Rounded corners */
  font-size: 48px; /* Increase font size */
  transition: 0.3s;
}

#myBtn:hover {
  opacity: 100%;
  color: #EE7548; /* Text color */
  transition: 0.3s;
}


/* responsive */
@media screen and (max-width: 600px){


body{
    font-family: Avenir, Helvetica, sans-serif;
    font-weight: 400;
    margin: 10% 5%;
    font-size: 12px;
    color: #333;
  }

  h1{
    font-size: 36px;
    margin: 5% auto 5% auto;
  }

  h2{
    font-size: 24px;
    font-family: Georgia,'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5%;
  }

  h3{
    font-weight: bold;
    font-size: 16px;
    margin: 1% 0px;
  }

  h4{
    color: #333;
    opacity: 75%;
    font-weight: normal;
    font-size: 12px;
    margin: 0px 0px;
  }

  p{
    font-size: 12px;
    margin: 10px 0px;
    line-height: 1.2em;
  }


  .my li{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: inline;
  }

  nav li{
    display: inline;
    font-size: 12px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  /* footer */

  footer{
    text-align: center;
    margin-top: 10%;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  footer p{
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  /* index page */
  .body{
    display: flex;
    flex-direction: row;
    width: 97.5%;
    margin: 5% auto;
  }

  div.project{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-top: 10%;
    /* width: 95%; */
  }

  img.round_cover{
    width: 75px;
    margin-right: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }

  .caption{
    text-align: center;
    font-size: 8px;
  }


  /* portfolio pages */
  .pages{
    width: 97.5%;
    margin: auto auto;
  }

  div.project-overview{
    display: flex;
    flex-direction: column;
    width: 97.5%;
    align-items: flex-start;
  }

  .project-overview-pics{
    width: 50%;
  }

  th{
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    padding: 1.5%;
    font-size: 12px;
  }

  .pages h2{
    display: inline;
  }

  .pages p{
    margin: 4% 0%;
    line-height: 1.3em;
  }

  div.more-projects{
    text-align: center;
    margin-top: 5%;
  }

  .prototype-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .prototype-video{
    width: 100%;
  }

  .prototype-video-transit{
    width: 75%;
    margin-bottom: 15%;
  }

  .prototype-description{
    width: 120%;
    margin-bottom: 10%;
  }

  #bio{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
  }

  .horizontal-photo {
    flex: 0 0 auto;
    width: 80%;
    margin-right: 2%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
  }

  .horizontal-photo-wide {
    flex: 0 0 auto;
    width: 100%;
    height: 80%;
    margin-right: 2%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
  }

  #myBtn {
    /* color: white; */
    display: none;
    font-size: 0px;
    /* opacity: 0; */
    /* color: none; */
  }

  #myBtn:hover{
    display: none;
    font-size: 0px;
  }

}
